@view-transition {
  navigation: auto;
}

:root {
    --color-purple: #73467B;
    --color-purple-light: #F1ECF6;
    --color-purple-dark: color-mix(in srgb, var(--color-purple) 70%, black 30%);
    --color-stroke: #EDEFF2;
    --color-gray: #74777E;
    --color-gray-lighter: #767778;
    --border-radius: 0.8rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
    line-height: 1.42857143;  /* 20/14 = 2rem = 20px */
    align-content: center;
    justify-content: center;
}

a {
    color: var(--color-purple);

    &:where(:hover, :focus){
        color: var(--color-purple-dark);
    }
}

::placeholder {
  color: var(--color-gray);
}

.netlify-form {
    --field-padding: calc((5.4rem - 1lh) / 2 - 1px);

    display: block;
    max-width: 50rem;
    margin-inline: auto;
    padding: 4rem;
    position: relative;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      outline: 1px dotted red;
      outline-offset: 1rem;
      display: none;
    }

    /* Use a pseudo element for bg to transition without squashing the entire form */
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: var(--color-purple-light);
      border-radius: var(--border-radius);
      view-transition-name: form-bg;
    }
}

form {
    display: grid;
    gap: 2rem;
}

.field-error {
  border-radius: var(--border-radius);
  border: 1px solid color-mix(in srgb, red 20%, white 80%);
  background: color-mix(in srgb, red 10%, white 90%);
  margin: 0;
  padding: calc(var(--field-padding) / 4) calc(var(--field-padding) / 2);
  color: color-mix(in srgb, red 80%, black 20%);
}

.form-success {
  border-radius: var(--border-radius);
  border: 1px solid color-mix(in srgb, green 20%, white 80%);
  background: color-mix(in srgb, green 10%, white 90%);
  margin: 0;
  padding: calc(var(--field-padding) / 2) var(--field-padding);
  color: color-mix(in srgb, green 80%, black 20%);
}

.form-field {
  display: grid;
  gap: 0.6rem;
  view-transition-name: attr(id type(<custom-ident>), none);

  &:focus-within {
    z-index: 2;
  }
}

.field-group {
  display: grid;
  gap: 1rem;
  position: relative;

  > * {
      max-width: 100%;
  }
}

textarea, input {
    position: relative;
    z-index: 1;
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-radius);
    padding: var(--field-padding);
    width: 100%;

    &:focus-visible {
        z-index: 2;
        outline: 1px solid var(--color-purple);
        outline-offset: -1px;
    }
}

fieldset {
  display: grid;
  align-items: start;
  border: 0;
  margin: 0;
}

textarea {
  field-sizing: content;
  resize: block;
  min-inline-size: 100%;
  min-block-size: 15.2rem;
  padding: 1.5rem 1.4rem 0.7rem 1.5rem;
  font: inherit;
}

button {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  border: 0;
  background-color: var(--color-purple);
  padding-block: calc((4.2rem - 1lh) / 2);
  padding-inline: 2.1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
  view-transition-name: button;

  &:hover {
    background-color: var(--color-purple-dark);
  }
}

.terms {
  margin: 0;
  color: var(--color-gray);
  view-transition-name: terms;
}